.footer-yeda {
   background: linear-gradient(to right, #040024, #28025e,  #040023);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  color: #ccc;
  font-family: 'Segoe UI', sans-serif;
  padding: 3rem 2rem 1rem;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 2rem;
}

.footer-column h4 {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #4861a0;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
}

.footer-column p {
  margin: 0.2rem 0;
  font-size: 0.75rem;
}

.social-icons a {
  margin-right: 1rem;
  font-size: 1.2rem;
  color: #a0abaf;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #160338;
}

.footer-bottom {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
  flex-wrap: wrap;
}

.footer-bottom a {
  color: #ccc;
  margin-left: 1rem;
  text-decoration: none;
}

.footer-bottom a:hover {
  color: #ccc;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }
  .footer-bottom {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
  }
}
